/.idea/.gitignore
/spring/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/spring/.gradle/buildOutputCleanup/cache.properties
/spring/.gradle/checksums/checksums.lock
/spring/.gradle/6.7.1/javaCompile/classAnalysis.bin
/.idea/compiler.xml
/spring/.gradle/6.7.1/executionHistory/executionHistory.bin
/spring/.gradle/6.7.1/executionHistory/executionHistory.lock
/spring/.gradle/6.7.1/fileHashes/fileHashes.bin
/spring/.gradle/6.7.1/fileHashes/fileHashes.lock
/spring/.gradle/6.7.1/gc.properties
/spring/.gradle/configuration-cache/gc.properties
/spring/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/spring/.gradle/6.7.1/javaCompile/jarAnalysis.bin
/.idea/jarRepositories.xml
/spring/.gradle/6.7.1/javaCompile/javaCompile.lock
/spring/.gradle/6.7.1/fileChanges/last-build.bin
/spring/.gradle/checksums/md5-checksums.bin
/.idea/misc.xml
/.idea/modules.xml
/spring/.gradle/buildOutputCleanup/outputFiles.bin
/spring/.gradle/6.7.1/fileHashes/resourceHashesCache.bin
/spring/.gradle/checksums/sha1-checksums.bin
/.idea/spring.iml
/spring/.gradle/6.7.1/javaCompile/taskHistory.bin
/.idea/uiDesigner.xml
/.idea/vcs.xml
